<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="DE Software">
    <meta name="theme-color" content="#D41818">

    <title>DE Software - {{ page.title }}</title>

    <!-- OpenGraph Tags -->
    <meta property="og:title" content="DE Software - {{ page.title }}">
    <meta property="og:site_name" content="DE Software">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="https://de-software.github.io{{ page.image }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://de-software.github.io{{ page.url }}">

    <!-- Twitter Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@DomElement0001">
    <meta name="twitter:site" content="@DomElement0001">

    <!-- OEmbed Data -->
    <link href="https://de-software.github.io/oembed.json" rel="oembed" type="application/json+oembed">

    <!-- Bootstrap core CSS -->
    <link href="https://de-software.github.io/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://de-software.github.io/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://de-software.github.io/https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://de-software.github.io/css/grayscale.core.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">DE Software</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://de-software.github.io/#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://de-software.github.io/#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://de-software.github.io/#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="http://domelement.shortcm.li/MakeADonation">Donate</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Our Latest Blogs</h2>
            <p class="text-white-50">
              {% for post in site.related_posts limit:25 %}
                <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date_to_string }}<br>
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black" id="contact">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fab fa-discord text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Discord</h4>
                <hr class="my-4">
                <div class="small text-black-50">DomElement#0001</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fab fa-twitter text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Twitter</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="https://twitter.com/DomElement0001">https://twitter.com/DomElement0001</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fab fa-github text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Github</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="https://github.com/de-software">https://github.com/de-software</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--
        <div class="social d-flex justify-content-center">
          <a href="https://twitter.com/DomElement0001" class="mx-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://github.com/de-software" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>
        -->

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        All materials used on this website belong to their respective owners.
      </div>
      <div class="container">
        Copyright &copy; DE Software <span id="copyright"></span>
      </div>
      <script>document.querySelector('#copyright').innerHTML = new Date().getFullYear();</script>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://de-software.github.io/vendor/jquery/jquery.min.js"></script>
    <script src="https://de-software.github.io/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://de-software.github.io/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="https://de-software.github.io/js/grayscale.min.js"></script>

  </body>

</html>
